RK_YOCTO_CFG="rockchip-rk3588-evb"
RK_KERNEL_DTS_NAME="rk3588-atk-devkit"
RK_USE_FIT_IMG=y
RK_TARGET_BOARD="ATK_DLRK3588"
RK_BUILD_JOBS="24"
RK_BUILDROOT_BASE_CFG="atk_dlrk3588"
RK_ROOTFS_HOSTNAME_CUSTOM=y
RK_ROOTFS_HOSTNAME="ATK-DLRK3588"
